---
import MainLayout from "../layouts/MainLayout.astro";
---

<html lang="en" class="h-screen bg-neutral-950 text-neutral-50">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>DAP Aero</title>
	</head>

	<body>
		<MainLayout>
			<div class="flex flex-col items-center mx-auto">
				<div class="w-64 h-52">
					<img src="/favicon.svg" alt="DAP Aero Logo" class="w-full">
				</div>

				<h1 class="font-bold text-2xl mt-1.5">
					Welcome to Dharma Angkasa Putra
				</h1>
			</div>

			<div class="grid lg:grid-cols-3 gap-y-4 gap-x-5 mt-4 w-full md:grid-cols-1">
				<div class="grid-item">
					<h2>Purchasing</h2>
					<p>Send us your material requirements - individual items or lists. We will check market availability and submit our quotations to your email inbox in 1-3 days.</p>
				</div>

				<div class="grid-item">
					<h2>Sales</h2>
					<p>Send us your surplus list and we will try to find it a new home, either through individual parts sales, or as a package deal.</p>
				</div>

				<div class="grid-item">
					<h2>Repair & Overhaul Management</h2>
					<p>We can handle parts maintenance on your behalf, including MRO selection, repair quote approval, and the return of the re-certified part back to your stock.</p>
				</div>

				<div class="grid-item">
					<h2>Market Research</h2>
					<p>We do market research and provide pricing & delivery times for lists of material. We charge $5.00 per line item, with a $100 minimum, payable in advance.</p>
				</div>

				<div class="grid-item">
					<h2>Work Outsourcing</h2>
					<p>We do market research and provide pricing & delivery times for lists of material. We charge $5.00 per line item, with a $100 minimum, payable in advance.</p>
				</div>

				<div class="grid-item">
					<h2>Quality & Certification</h2>
					<p>We are strictly brokers. We purchase parts for a known customer from an approved source and have the parts drop-shipped directly from our approved suppliers to end users. We never come in contact with parts at any stage of the process. We do not perform receiving inspection, or store, or ship, or manipulate the parts in any way. For this reason we do not have and we do not need any manuals, tools & equipment, facilities, training or personnel to manipulate the parts, nor do we require any sort of certification.</p>
				</div>
			</div>
		</MainLayout>
	</body>
</html>

<style>
	.grid-item {
		h2 {
			@apply text-emerald-600 text-lg font-bold;
		}
	}
</style>
